<h1>Listing buildings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Address</th>
    <th>Zip code</th>
    <th>Building type</th>
    <th>Floors</th>
    <th>Lat</th>
    <th>Lng</th>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%=h building.name %></td>
    <td><%=h building.code %></td>
    <td><%=h building.address %></td>
    <td><%=h building.zip_code %></td>
    <td><%=h building.building_type %></td>
    <td><%=h building.floors %></td>
    <td><%=h building.lat %></td>
    <td><%=h building.lng %></td>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New building', new_building_path %>